
@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed;
}

@font-face {
    src: url("ChicagoRockers.ttf");
    font-family: Rockers;
}

@font-face {
    src: ("Rockline.ttf");
    font-family: Rockline;
}

body {
    margin: 0;
    background-color: #540D6E;
    width: 575px;
    height: 385px;
}

h1 {
    text-align: center;
    font-family: Rockers;
    color: #36f80a;
    font-size: 50px;
}

h3 {
    color: #36f80a;
    font-family: Rockers;
    font-weight: bold;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
}

.scorecard {
    width: 150px;
    height: 100px;
    background-color: #080001;
    color: #EEEEEE;
    font-family: Cursed;
    font-size: 90px;
    text-align: center;
    margin: 11px 0 26px 10px;
    padding-top: 10px;
}

button {
    height: 45px;
    width: 45px;
    font-family: Cursed;
    background-color: #540D6E ;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    margin: 4.5px
}

.container {
    display: flex;
    justify-content: space-around;
    
}

p {
    text-align: center;
    color: #EEEEEE;
    font-family: Rockers
}